div{
    width: 500px;
    height: 256px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: 2;
    
    
}
@keyframes example{
    0% 
    {background-color: red; left:0px; top: 0px;
    font-size: 40rem;
}
    25% 
    {background-color: yellow; left: 200px;  top: 0px; border: 3px;
    }
    50% {background-color: blue;
    }
    100% {
        width: 400px;
        height: 400px;
        border-radius: 1000px;
        background-image: url(apm-apmtv3.gif);
        
    }
}